- content_for :css do
  = stylesheet_link_tag 'jquery.isotope/isotope.css'

- content_for :javascript do
  = javascript_include_tag 'jquery.isotope/jquery.isotope.min.js', 'jquery.isotope/jquery.isotope-init.js'







