- content_for :css do
  = stylesheet_link_tag '/javascripts/libs/jquery.isotope/isotope.css'

- content_for :javascript do
  = javascript_include_tag '/javascripts/libs/jquery.isotope/jquery.isotope.min.js', '/javascripts/libs/jquery.isotope/jquery.isotope-init.js'







