- content_for :css do
  = stylesheet_link_tag 'megafolio/css/settings.css'

- content_for :javascript do
  = javascript_include_tag 'megafolio/js/jquery.themepunch.plugins.min.js', 'megafolio/js/jquery.themepunch.megafoliopro.js'   
  

