= #stylesheet_link_tag "/javascripts/libs/royal-slider-9.2/royalslider.css", "/javascripts/libs/royal-slider-9.2/rs-default.css"
= #javascript_include_tag "/javascripts/libs/royal-slider-9.2/jquery.royalslider.custom.min.js", "/javascripts/libs/royal-slider-9.2/jquery.easing-1.3.js"



