.region
  %h2.title
    %b
      = page_title! 'contáctanos'

  .eight.columns.alpha
    %p.sub-label
      Contacto
    = link_to 'info@stereosonica.com', '/', :class => 'button default italic full'
  .eight.columns.omega
    %p.sub-label
      Envíanos un mensaje
    = render 'form'

