%h2.title
  = page_title! 'Contáctanos'

.content
  .eight.columns.alpha
    %p.sub-label
      Contacto
    = link_to 'info@stereosonica.com', '/', :class => 'button default italic full'
  .eight.columns.omega
    %p.sub-label
      Envíanos un mensaje
    = render 'form'

