	
#content-megafolio
  #noticias-botones.megafolio-tabs
    .filter_padder
      .filter_wrapper{style: 'max-width: 950px'}
        .filter.all.selected{:"data-category" => 'cat-all'}
          Todos
        .filter.banda{:"data-category" => 'banda'}
          Banda de la semana
        .filter.album{:"data-category" => 'album'}
          Álbum de la semana
        .filter.resenas{:"data-category" => 'resenas'}
          Reseñas
  .megafolio-container.te

    #entry-1.mega-entry.cat-all.banda{:"data-src" => 'assets/megafolio/images/image1.jpg', :"data-width" => '230', :"data-height" => '170'}
      // covercaption
      .mega-covercaption.mega-square-top.mega-landscape-left.mega-portrait-bottom.mega-white.mega-withsocialbar.mega-smallcaptions
        .mega-title
          Title
        .mega-date
          Enero
        %p
          Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua...




      // socialbar
      %span.mega-socialbar  
        %span.mega-leftfloat
          Share this

        = content_tag(:a, '#') do
          %span.mega-soc.mega-facebook.mega-leftfloat
            
        = content_tag(:a, '#') do
          %span.mega-soc.mega-twitter.mega-leftfloat
               
        .mega-show-more.mega-soc.mega-more.mega-rightfloat
        = content_tag(:a, '#') do
          .mega-soc.mega-like.mega-rightfloat
            %span
              2
        = content_tag(:a, '#') do
          .mega-soc.mega-comments.mega-rightfloat
            %span
              3     



    #entry-2.mega-entry.cat-all.album{:"data-src" => 'assets/megafolio/images/image2.jpg', :"data-width" => '230', :"data-height" => '170'}
    #entry-3.mega-entry.cat-all.resenas{:"data-src" => 'assets/megafolio/images/image3.jpg', :"data-width" => '230', :"data-height" => '170'}



    



							



:css
  #content-megafolio{  max-width:1260px;
   min-width:240px;
   width:auto;
   margin:auto;
   padding:0px 30px;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   -webkit-box-sizing: border-box;
   overflow: hidden;
  }
 
  .megafolio-container{  width:100%; 
     position:relative;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
     -webkit-box-sizing: border-box;
  }
  .filter_wrapper {background: none; margin: 0; padding: 0}
  .filter {}
  .filter:hover,
  .filter.selected {}
  .mega-entry .mega-entry-innerwrap {}

:javascript
  jQuery(document).ready(function() {
    var api=jQuery('.megafolio-container').megafoliopro({
      filterChangeAnimation:"scale",  // fade, rotate, scale, rotatescale, pagetop, pagebottom,pagemiddle
      filterChangeSpeed:400,  // Speed of Transition
      filterChangeRotate:99,  // If you ue scalerotate or rotate you can set the rotation (99 = random !!)
      filterChangeScale:0.6,  // Scale Animation Endparameter
      delay:20,
      defaultWidth:980,
      paddingHorizontal:10,
      paddingVertical:10
      //layoutarray:[9,11,5,3,7,12,4,6,13]  // Defines the Layout Types which can be used in the Gallery. 2-9 or "random". You can define more than one, like {5,2,6,4} where the first items will be orderd in layout 5, the next comming items in layout 2, the next comming items in layout 6 etc... You can use also simple {9} then all item ordered in Layout 9 type.
    });

    // CALL FILTER FUNCTION IF ANY FILTER HAS BEEN CLICKED
    jQuery('.filter').click(function() {
      api.megafilter(jQuery(this).data('category'));   
    });

  });
