	
.container
  .megafolio-container
    %div#entry-1.mega-entry{:"data-src" => 'images/image1.jpg', :"data-width" => '320', :"data-height" => '240'}
    %div#entry-2.mega-entry{:"data-src" => 'images/image1.jpg', :"data-width" => '320', :"data-height" => '240'}
    %div#entry-3.mega-entry{:"data-src" => 'images/image1.jpg', :"data-width" => '320', :"data-height" => '240'}



:css
  .container{  max-width:1260px;
   min-width:240px;
   width:auto;
   margin:auto;
   padding:0px 30px;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   -webkit-box-sizing: border-box;
   overflow: hidden;
  }
 
  .megafolio-container{  width:100%; 
     position:relative;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
     -webkit-box-sizing: border-box;
  }
