	
.container
  .megafolio-tabs
    .filter_padder
      .filter_wrapper{style: 'max-width: 950px'}
        .filter.selected{:"data-category" => 'cat-all'}
          All
        .filter{:"data-category" => 'cat-banda'}
          Banda
        .filter{:"data-category" => 'cat-album'}
          Álbum
        .filter{:"data-category" => 'cat-resenas'}
          Reseñas
  .megafolio-container


    %div#entry-1.mega-entry.cat-all.cat-banda{:"data-src" => 'assets/megafolio/images/image1.jpg', :"data-width" => '320', :"data-height" => '240'}
    %div#entry-2.mega-entry.cat-all.cat-album{:"data-src" => 'assets/megafolio/images/image2.jpg', :"data-width" => '320', :"data-height" => '240'}
    %div#entry-3.mega-entry.cat-all.cat-resenas{:"data-src" => 'assets/megafolio/images/image3.jpg', :"data-width" => '320', :"data-height" => '240'}



:css
  .container{  max-width:1260px;
   min-width:240px;
   width:auto;
   margin:auto;
   padding:0px 30px;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   -webkit-box-sizing: border-box;
   overflow: hidden;
  }
 
  .megafolio-container{  width:100%; 
     position:relative;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
     -webkit-box-sizing: border-box;
  }

:javascript
  jQuery(document).ready(function() {
    var api=jQuery('.megafolio-container').megafoliopro({});

    // CALL FILTER FUNCTION IF ANY FILTER HAS BEEN CLICKED
    jQuery('.filter').click(function() {
      api.megafilter(jQuery(this).data('category'));   
    });

  });
