<%= render 'scripts/jcarousel' %>


<div id="social-region">
  <div class="social-region-side">
    <div class="box">

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/es_LA/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="fb-like-box" data-href="https://www.facebook.com/stereosonicaradio" data-width="292" data-show-faces="true" data-stream="true" data-header="true"></div>

      
    </div>
    <div class="box-small">

<!-- <ul id="carousel-left" class="jcarousel-skin-tango"> -->
<ul id="jcarousel-left" class="jcarousel">
<% @auspiciadores_left.each do |auspiciador| %>
  <li><%= link_to image_tag(auspiciador.logo(:index)), auspiciador.link, :target => '_blank' %></li>
<% end %>
</ul>

    </div>
    <div class="box-small">

    </div>
  </div>

  <div class="social-region-side">
    <div class="box-small">

<ul id="jcarousel-right" class="jcarousel">
<% @auspiciadores_right.each do |auspiciador| %>
  <li><%= link_to image_tag(auspiciador.logo(:index)), auspiciador.link, :target => '_blank' %></li> 
<% end %>
</ul>


    </div>
    <div class="box-small">

    </div>
    <div class="box">

<a class="twitter-timeline"  href="https://twitter.com/stereo_sonica"  data-widget-id="323151202932101120">Tweets por @stereo_sonica</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>


    </div>

  </div>




</div>
