<div id="social-region">
  <div class="social-region-side">
    <div class="box">

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/es_LA/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="fb-like-box" data-href="https://www.facebook.com/pages/Stereosonica-Radio-Oficial/1605629243016835" data-width="292" data-show-faces="true" data-stream="true" data-header="true"></div>


    </div>
 
  </div>

  <div class="social-region-side">
 
    <div class="box">

<script src="https://apis.google.com/js/platform.js"></script>

<div class="g-ytsubscribe" data-channelid="UCr3BiO_FUXHRR5D2RtQVw6Q" data-layout="full" data-count="default"></div>




    </div>

  </div>




</div>
