#content-megafolio
  #noticias-botones.megafolio-tabs
    .filter_padder
      .filter_wrapper{style: 'max-width: 950px'}
        .filter.all.selected{:"data-category" => 'cat-all'}
          Todos
        - @categorias.each_with_index do |categoria, index|
          %div{:class => 'filter ' + 'megafolio-elemento-' + index.to_s , :"data-category" => 'megafolio-elemento-' + index.to_s, :style => 'background:' + categoria.color}
            = categoria.nombre

  .megafolio-container.noborder.norounded.dark-bg-entries
    - @categorias.each_with_index do |categoria, index|
      - categoria.noticias.order("created_at DESC").limit(@maximo_noticias).each do |noticia|
        - unless noticia.fotos.empty?
          %div{:class => 'mega-entry cat-all ' + 'megafolio-elemento-' + index.to_s, :"data-src" => noticia.fotos.first.imagen_foto(:index), :"data-width" => '504', :"data-height" => '400'}
            // covercaption
            .mega-covercaption.mega-square-top.mega-landscape-left.mega-portrait-bottom.mega-smallcaptions{:style => 'background:' + categoria.color}
              .mega-title
                %h2
                  = link_to noticia.titulo, categoria_noticia_path(noticia.categoria, noticia)
              .mega-date
                = fecha_noticia noticia.created_at
              %p



:css
  #content-megafolio{  max-width:1260px;
   min-width:240px;
   width:auto;
   margin:auto;
   padding:0px 30px;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   -webkit-box-sizing: border-box;
   overflow: hidden;
  }

  .megafolio-container{  width:100%;
     position:relative;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
     -webkit-box-sizing: border-box;
  }
  .filter_wrapper {background: none; margin: 0; padding: 0}
  .filter {}
  .filter:hover,
  .filter.selected {}
  .mega-entry .mega-entry-innerwrap {}

:javascript
  jQuery(document).ready(function() {
    var api=jQuery('.megafolio-container').megafoliopro({
      filterChangeAnimation:"scale",  // fade, rotate, scale, rotatescale, pagetop, pagebottom,pagemiddle
      filterChangeSpeed:400,  // Speed of Transition
      filterChangeRotate:99,  // If you ue scalerotate or rotate you can set the rotation (99 = random !!)
      filterChangeScale:0.6,  // Scale Animation Endparameter
      delay:20,
      defaultWidth:980,
      paddingHorizontal:10,
      paddingVertical:10,
      layoutarray:[9]  // Defines the Layout Types which can be used in the Gallery. 2-9 or "random". You can define more than one, like {5,2,6,4} where the first items will be orderd in layout 5, the next comming items in layout 2, the next comming items in layout 6 etc... You can use also simple {9} then all item ordered in Layout 9 type.
    });

    // CALL FILTER FUNCTION IF ANY FILTER HAS BEEN CLICKED
    jQuery('.filter').click(function() {
      api.megafilter(jQuery(this).data('category'));
    });

  });
