

$bg-body:                         url(backgrounds/bg-body.jpg) repeat;
$bg-footer:                       url(backgrounds/bg-footer-top.jpg) no-repeat center 0px, url(backgrounds/bg-footer-x.jpg) repeat-x 0 0, url(backgrounds/bg-footer.jpg) repeat;
$bg-footer-inner:                 none;
$bg-postscript-bottom:            url(backgrounds/bg-postscript-bottom.jpg) repeat;
$bg-postscript-bottom-inner:      url(backgrounds/bg-postscript-bottom-inner.jpg) no-repeat center -33px;
$bg-slider:                       url(backgrounds/bg-slider.png) no-repeat 50% 207px;
$bg-top-page-shadow:              url(backgrounds/bg-top-page-shadow.png) no-repeat center top;
$multiple:                        url(backgrounds/multiple.png) no-repeat;
$bevel-vertical:                  url(backgrounds/bevel-1.jpg) no-repeat 100% 50%;
$bevel-region:                    url(backgrounds/bevel-region.png) no-repeat 50% 0%;

$space:                           5px;
$space-vertical:                  $space*3;

$font-size-1:                     16px;
$font-size-2:                     20px;
$font-menu:                       18px;
$font-heading:                    26px;

$cyan:                            #40a6da;
$black:                           #424343;
$white:                           #e6e6e6;
$gray:                            #c9c8c7;
$violet:                          #542580;
$green:                           #992c2c;
$red:                             #1a6621;
$bevel-border-bottom:             1px solid #171717;
$bevel-border-top:                1px solid #525454;

$bg_position_follow:              80px;
$border-bold:                     10px;

