%h1 Listing fotos

%table
  %tr
    %th
    %th
    %th

  - @fotos.each do |foto|
    %tr
      %td= link_to 'Show', foto
      %td= link_to 'Edit', edit_foto_path(foto)
      %td= link_to 'Destroy', foto, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Foto', new_foto_path
